@page
@model GetCustomersModel
@{
    ViewData["Title"] = "Customers";
}

<!DOCTYPE html>
<html>
<head>

    <title>@ViewData["Title"]</title>
    <a href="/Customer/CreateCustomer" class="btn btn-primary">Add Customer</a>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            padding: 20px;
        }

        h1 {
            font-size: 2.5em;
            color: #007bff;
            text-align: center;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 20px;
        }

        li {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            li:hover {
                background-color: #f0f0f0;
            }

        .customer-id,
        .customer-name,
        .customer-date {
            font-size: 1.2em;
            color: #555;
        }

        .customer-id {
            font-weight: bold;
            color: #007bff;
        }

        .btn-container {
            display: flex;
            gap: 10px;
        }

        .btn {
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-info {
            background-color: #17a2b8;
            color: #fff;
        }

            .btn-info:hover {
                background-color: #138496;
            }

        .btn-danger {
            background-color: #dc3545;
            color: #fff;
        }

            .btn-danger:hover {
                background-color: #c82333;
            }
    </style>
</head>
<body>

    <h1>@ViewData["Title"]</h1>
    <form method="get">
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Filter.Name" placeholder="Search by customer name">
        </div>
        <button type="submit" class="btn btn-info">Search</button>
    </form>

    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>
                <div>
                    <span class="customer-id">ID:</span> @customer.Id <br />
                    <span class="customer-name">Customer name:</span> @customer.Name <br />
                    <span class="customer-email">Customer Email:</span> @customer.Email <br />
                    <span class="customer-Address">Customer Address:</span> @customer.Address <br />
                    <span class="customer-PhoneNumber">Customer PhoneNumber:</span> @customer.PhoneNumber <br />
                   
                </div>
                <div class="btn-container">
                    <a href="/Customer/GetCustomerById?id=@customer.Id" class="btn btn-info">View</a>
                    <a asp-page="/Customer/UpdateCustomer" asp-route-id="@customer.Id" class="btn btn-primary">Update</a>
                    <a href="/Customer/DeleteCustomer?id=@customer.Id" class="btn btn-danger">Delete</a>
                </div>
            </li>
        }
    </ul>
    <!-- Pagination -->
    @if (Model.TotalPages > 1)
    {
        <div class="pagination-container">
            <nav>
                <ul class="pagination">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.Filter.PageNumber == i ? "active" : "")">
                            <a class="page-link" asp-page="./GetCustomers" asp-route-PageNumber="@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }

</body>
</html>